body, html {
  margin: auto;
  color: #232323;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.example {
  float: left;
  width: 80%;
  display: inline-block;
  margin-top: 350px;
  margin-bottom: 100px;
}

.wdywtd {
  left: 0px;
  font-size: 125px;
  font-family: freight-sans-compressed-pro, sans-serif;
  font-weight: 700;
  margin-bottom: 300px;
  padding-right: 200px;
  position: absolute;
  display: block;
  border-bottom: 3px solid #232323;

}

.slide.show {
  display: block;
  font-family: freight-sans-condensed-pro, sans-serif;
    font-style: normal;
    font-size: 30px;
/*    text-transform: uppercase;*/
    padding-bottom: 100px; 
    text-align: left;
    position: absolute;
    top: 7%;
    left: 7%;
    right: 5%;
    margin-left: 150px;
}


#scenario1 {
  margin: auto;
  padding-left: 10%;
  padding-right: 6%;
}

.link {
    /*position: relative;
    text-transform: lowercase;
    border: 3px solid #232323;
    text-decoration: none;
    padding: 20px 25px;
    background-color: white;
    text-align: center;
    color: #232323;*/
    z-index: 200;
  opacity: 1;
right: 0;
  position: relative;

  display: inline-block;

  font-size: 30px;
  float: right;
/*  border: 3px solid #232323;*/
  background-color: white;
    color: #232323;
    border: 3px solid #232323;

  font-family: freight-sans-compressed-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
        text-transform: uppercase;

/*    text-transform: uppercase;*/
    -webkit-transition: background-color .35s ease-in-out;
    transition: background-color .35s ease-in-out;
    padding: 11px 35px;
box-shadow: 5px 5px 0px #232323;
}

h3 {
  font-family: freight-sans-condensed-pro, sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: #232323;
    font-size: 20px;

  display: inline-block;
}

.link:hover {
  color: white;
    background-color: #232323;
    transition: 0.4s ease;
    
}

/*.quit {
  border: 0px solid #232323;
  float: right;
}
.quit:hover {
    color: #232323;
    background-color: white;
    text-decoration-line: underline;
    transition: 0.4s ease;
}*/


.progress {
  left: -5px;
  position: fixed;
  width: 5%;
  top: 50%;
  transform: translateY(-50%);

}

/*.left {
background-color: #ff9975;
height: 100vh;
position: absolute;
left: 0;
width: 20px;
}
.left:hover {
  width: 35px;
  transition: width .3s ease-in-out;
}
.lefttop {
  background-color: #ff9975;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0px;
  height: 7px;
}
.leftbottom {
  background-color: #ff9975;
  width: 50vw;
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 7px;
}

.right {
background-color: #bb6c50;
height: 100vh;
position: absolute;
right: 0;
width: 20px;
}
.right:hover {
  width: 35px;
  transition: width .3s ease-in-out;
}
.righttop {
  background-color: #bb6c50;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0px;
  height: 7px;
}
.rightbottom {
  background-color: #bb6c50;
  width: 50vw;
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 7px;
}*/

.progress_bar {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #232323;
  color: white;

/*  margin-top: 2px;
  margin-bottom: 17px;*/
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: freight-sans-compressed-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    z-index: 1000;
}
.progress_bar:hover {
  width: 25px;
  height: 20px;
  transition: 0.2s ease-in;
/*  box-shadow: 3px 3px 0px #bb6c50;*/
}

.number {
  color: #232323;
  -moz-text-fill-color: white;
  -webkit-text-fill-color: white;
     -moz-text-stroke-color: #bb6c50;
  -webkit-text-stroke-color: #bb6c50;
     -moz-text-stroke-width: 1.5px;  
  -webkit-text-stroke-width: 1.5px;
  margin-left: -40px;
  z-index: 20;
  font-family: georgia;
  font-weight: 600;
  display: none;
  z-index: -10;
}


.result1 {
    font-family: freight-sans-condensed-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    font-size: 35px;
    display: none;
    border: 3px solid #232323;
    text-decoration: none;
    margin: 10% 15% -10% 15%;
    padding: 5% 5%;
    background-color: #232323;
    color: white;
    opacity: 0;
}
/*.result1.selected {
  display: inline-block;
}*/

.result2 {
    font-family: freight-sans-condensed-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    font-size: 35px;
    display: none;
    border: 3px solid #232323;
    text-decoration: none;
    margin: 10% 15% 0% 15%;
    padding: 5% 5%;
    background-color: #232323;
    color: white;
    opacity: 0;
}
/*.result2.selected {
  display: inline-block;
}*/
.source {
    font-size: .4em;
    color: #232323;
    text-decoration: none;
    color: #232323;
}
.source:first-child {
    margin-top: 25px;
    font-size: .4em;
}

/*span {
  display: inline-block;
  position: relative;
  font-family: georgia;
  font-weight: 600;
  font-size: .85em;
  text-transform: uppercase;
   -moz-text-fill-color: white;
  -webkit-text-fill-color: white;
     -moz-text-stroke-color: #232323;
  -webkit-text-stroke-color: #232323;
     -moz-text-stroke-width: 1.5px;  
  -webkit-text-stroke-width: 1.5px;
}

span:hover {
  -moz-text-fill-color: #232323;
  -webkit-text-fill-color: #232323;
     -moz-text-stroke-color: #232323;
  -webkit-text-stroke-color: #232323;
     -moz-text-stroke-width: 2.5px;  
  -webkit-text-stroke-width: 2.5px;
}*/

.continue {
  position: fixed;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-style: normal;
  color: #232323;
  display: inline-block;
  opacity: 1;
  font-weight: 500;
  font-size: 20px;
  right: 10px;
  bottom: -40px;
  content: "\2192";
  border: 2px solid #232323;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0px 40px;
/*    animation: glitch_v_mild 3s steps(100) infinite;*/
}
.continue:hover {
    color: white;
    background-color: #232323;
    transition: 0.4s ease;
}