body, html {
margin: auto;  color: #232323;
  width: 100%;
  height: 100%;
  cursor: default;
}

h1 {
  font-size: 220px;
  display: block;
  position: relative;
  font-family: freight-sans-compressed-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  animation: glitch_mild 3s steps(100) infinite;
  padding-bottom: 300px;
  width: 90%;
  text-align: center;
  margin: auto;
}

h2 {
  display: inline-block;
  float: right;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  padding-right: 4%;
  padding-bottom: 10%;
  padding-top: 10%;
  position: relative;
  margin: 2% 9% 0% 31%;
}


.veganmeaning {
  top: 30vh;
  margin: auto;
  font-weight: 600;
  font-size: 60px;
  color: white;
  background-color: #232323;
/*  box-shadow: 3px 3px 5px #232323;*/
  padding:62px;
  width: 80%;
  animation: none;
}

.introtext {
  text-align: center;
  top: 25vh;
  line-height: 210px;
}